.style6 {
  margin-left: 441px;
  margin-top: 40px;
  width: 286px;
  height: 156px
}
.Loginrow1 {
  display: flex;
  margin-left: 192px;
  margin-top: 61px;
  width: 708px;
  height: 67px;
  align-items: stretch
}
.style0,
.style2 {
  font-family: BalsamiqSans,serif
}
.style0 {
  text-align: center;
  font-weight: 700;
  font-size: 3.375em;
  margin-left: 0
}
.style2 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: .75em;
  text-indent: 10px;
  margin-left: 218px;
  width: 231px
}
.Loginrow2 {
  display: flex;
  margin-left: 153px;
  margin-top: 77px;
  width: 747px;
  height: 67px;
  align-items: stretch
}
.style1 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 3.375em;
  font-weight: 700;
  margin-left: 0
}
.style4,
.style7 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style4 {
  font-family: BalsamiqSans,serif;
  font-size: .75em;
  text-indent: 10px;
  margin-left: 180px;
  width: 231px
}
.style7 {
  box-shadow: 1px 1px 0 0 #000;
  display: flex;
  margin-left: 407px;
  margin-top: 109px;
  width: 321px;
  height: 118px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style8 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.8125em;
  height: 32px
}
.class-1row0,
.style9 {
  position: relative;
  height: 102px
}
.class-1row0 {
  display: flex;
  margin-left: 22px;
  margin-top: 5px;
  width: 1153px
}
.style9 {
  margin-left: 0;
  margin-top: 11px;
  width: 148px;
  flex-shrink: 0
}
.class-1row0column1 {
  display: flex;
  margin-left: 212px;
  width: 430px;
  height: 92px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0
}
.style10 {
  background-color: #597eaa;
  color: #597eaa;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  text-indent: 12px;
  margin-top: 0
}
.style10,
.style12,
.style14 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 33px
}
.style12 {
  color: #597eaa;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  text-indent: 12px;
  background-color: #597eaa;
  margin-top: 27px
}
.style14 {
  background-color: #fff;
  box-shadow: 1px 1px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 1025px;
  margin-top: 92px;
  width: 128px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style15 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  height: 16px
}
.class-1unsupported0 {
  display: flex;
  margin-left: 8px;
  margin-top: 30px;
  width: 1183px;
  height: 477px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end
}
.class-1unsupported0row0 {
  display: flex;
  width: 1177px;
  height: 448px;
  align-items: center
}
.class-1unsupported0row0unsupported2 {
  display: flex;
  margin-left: 0;
  width: 200px;
  height: 428px;
  flex-direction: column
}
.class-1unsupported0row0unsupported2row0 {
  display: flex;
  margin-left: 48px;
  width: 343px;
  height: 428px;
  align-items: flex-end
}
.class-1unsupported0row0unsupported2row0unsupported3 {
  margin-left: 0;
  width: 12px;
  height: 390px
}
.class-1unsupported0row0unsupported2row0unsupported4 {
  margin-left: 65px;
  width: 12px;
  height: 390px
}
.class-1unsupported0row0unsupported2row0unsupported5 {
  margin-left: 54px;
  width: 200px;
  height: 100%
}
.class-1unsupported0row0unsupported6 {
  display: flex;
  margin-left: 180px;
  width: 296px;
  height: 428px;
  flex-direction: column
}
.class-1unsupported0row0unsupported6row0 {
  display: flex;
  margin-left: 78px;
  width: 406px;
  height: 428px;
  align-items: flex-end
}
.class-1unsupported0row0unsupported6row0unsupported7 {
  margin-left: 0;
  width: 12px;
  height: 390px
}
.class-1unsupported0row0unsupported6row0unsupported8 {
  margin-left: 110px;
  width: 12px;
  height: 390px
}
.class-1unsupported0row0unsupported6row0unsupported9 {
  display: flex;
  margin-left: 72px;
  width: 200px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end
}
.class-1unsupported0row0unsupported6row0unsupported9unsupported10 {
  margin-left: 84px;
  width: 12px;
  height: 390px
}
.class-1unsupported0row0unsupported11 {
  margin-left: 181px;
  width: 200px;
  height: 428px
}
.class-1unsupported0row0unsupported1 {
  margin-left: 101px;
  width: 19px;
  height: 100%
}
.class-2row0 {
  display: flex;
  margin-left: 358px;
  margin-top: 5px;
  width: 781px;
  height: 33px;
  align-items: stretch
}
.style17,
.style19 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: .9375em
}
.style19 {
  color: #597eaa;
  background-color: #597eaa;
  text-indent: 12px;
  margin-left: 0;
  width: 430px
}
.style17 {
  background-color: #fff;
  text-indent: 28px;
  margin-left: 206px;
  width: 145px
}
.class-2row1,
.style16 {
  position: relative;
  height: 102px
}
.class-2row1 {
  display: flex;
  margin-left: 16px;
  margin-top: 0;
  width: 934px
}
.style16 {
  margin-left: 0;
  margin-top: 16px;
  width: 148px;
  flex-shrink: 0
}
.style21,
.style23 {
  background-color: #597eaa;
  height: 33px;
  flex-shrink: 0
}
.style21 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #597eaa;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  text-indent: 12px;
  margin-top: 59px;
  margin-left: 192px;
  width: 430px
}
.style23 {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  margin-left: 87px;
  width: 77px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style24 {
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  font-weight: 700;
  height: 16px
}
.style25 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 0 0 #000;
  display: flex;
  margin-left: 1041px;
  margin-top: 0;
  width: 128px;
  height: 45px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style26 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  height: 16px
}
.class-2unsupported0 {
  display: flex;
  margin-left: 2px;
  margin-top: 0;
  width: 1183px;
  height: 477px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end
}
.class-2unsupported0row0 {
  display: flex;
  width: 1177px;
  height: 448px;
  align-items: flex-end
}
.class-2unsupported0row0unsupported2 {
  display: flex;
  margin-left: 0;
  width: 200px;
  height: 428px;
  flex-direction: column
}
.class-2unsupported0row0unsupported2row0 {
  display: flex;
  margin-left: 48px;
  width: 343px;
  height: 428px
}
.class-2unsupported0row0unsupported2row0unsupported3 {
  margin-left: 0;
  margin-top: 36px;
  width: 12px;
  height: 33px
}
.class-2unsupported0row0unsupported2row0unsupported4 {
  margin-left: 65px;
  margin-top: 36px;
  width: 12px;
  height: 33px
}
.class-2unsupported0row0unsupported2row0unsupported5 {
  margin-left: 143px;
  width: 200px;
  height: 100%;
  align-self: stretch
}
.class-2unsupported0row0unsupported6 {
  display: flex;
  margin-left: 180px;
  width: 296px;
  height: 428px;
  flex-direction: column
}
.class-2unsupported0row0unsupported6row0 {
  display: flex;
  margin-left: 78px;
  width: 406px;
  height: 428px
}
.class-2unsupported0row0unsupported6row0unsupported7 {
  margin-left: 0;
  margin-top: 36px;
  width: 12px;
  height: 33px
}
.class-2unsupported0row0unsupported6row0unsupported8 {
  margin-left: 110px;
  margin-top: 36px;
  width: 12px;
  height: 31px
}
.class-2unsupported0row0unsupported6row0unsupported9 {
  display: flex;
  margin-left: 206px;
  width: 200px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.class-2unsupported0row0unsupported6row0unsupported9unsupported10 {
  margin-left: 84px;
  margin-top: 36px;
  width: 12px;
  height: 33px
}
.class-2unsupported0row0unsupported11 {
  margin-left: 181px;
  width: 200px;
  height: 428px
}
.class-2unsupported0row0unsupported1 {
  margin-left: 101px;
  width: 19px;
  height: 100%
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.class-3row0 {
  display: flex;
  margin-left: 358px;
  margin-top: 5px;
  width: 781px;
  height: 33px;
  align-items: stretch
}
.style28,
.style30 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: .9375em
}
.style30 {
  color: #597eaa;
  background-color: #597eaa;
  text-indent: 12px;
  margin-left: 0;
  width: 430px
}
.style28 {
  background-color: #fff;
  text-indent: 28px;
  margin-left: 206px;
  width: 145px
}
.class-3row1 {
  position: relative;
  display: flex;
  margin-left: 43px;
  margin-top: 0;
  width: 622px;
  height: 102px
}
.style27 {
  margin-left: 0;
  width: 148px;
  height: 100%;
  align-self: stretch
}
.style32 {
  background-color: #597eaa;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #597eaa;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  text-indent: 12px;
  margin-left: 255px;
  margin-top: 52px;
  width: 218px;
  height: 33px
}
.class-3row2,
.style36 {
  display: flex;
  align-items: stretch
}
.class-3row2 {
  margin-top: 0;
  height: 45px;
  margin-left: 777px;
  width: 389px
}
.style36 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 0 0 #000;
  margin-left: 0;
  width: 128px;
  flex-direction: column;
  justify-content: center
}
.style37 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  height: 16px
}
.style34 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 0 0 #000;
  display: flex;
  margin-left: 134px;
  width: 128px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style35 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  height: 16px
}
.class-3row3 {
  display: flex;
  margin-left: 17px;
  margin-top: 6px;
  width: 1169px;
  height: 448px;
  align-items: center
}
.class-3row3unsupported1 {
  margin-left: 0;
  width: 1149px;
  height: 420px
}
.class-3row3unsupported0 {
  margin-left: 0;
  width: 19px;
  height: 100%
}